<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/public.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body ng-app='ngRouteExample'>
    <ul class="big clearfloat">
      <li></li>
      <li></li>
    </ul>
    <ul class="sml1 clearfloat zz" style="display: none">
      <li><a href="#/home1"></a></li>
      <li><a href="#/home2"></a></li>
      <li><a href="#/home3"></a></li>
    </ul>
    <ul class="sml2 clearfloat zz" style="display: none">
      <li><a href="#/home4"></a></li>
      <li><a href="#/home5"></a></li>
      <li><a href="#/home6"></a></li>
    </ul>
    <div ng-view></div>
  </body>
  <script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
  <script src="http://apps.bdimg.com/libs/angular-route/1.3.13/angular-route.js"></script>
  <script src="/javascripts/jquery-1.9.1.min.js"></script>
  <script src="/views/js/index.js"></script>
</html>
